# Configurações do Banco de Dados MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=rootpass
DB_NAME=anomaly_db

# Configurações da Aplicação
APP_ENV=development
APP_PORT=8000
LOG_LEVEL=INFO

# PySpark
SPARK_MASTER=local[*]
SPARK_APP_NAME=AnomalyDetector

# AWS (para deploy)
AWS_REGION=us-east-1
AWS_ACCOUNT_ID=123456789012
ECR_REPOSITORY=anomaly-detector
